﻿<%@ Page Title="CSMSys :: Dashboard" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="CSMSys.Web.Pages.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<div class="content">
    <div class="title">
        <h2>Dashboard :: CSMSys - Cold Storage Management System!</h2>
    </div>
</div>
</asp:Content>
