﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="CSMSys.Web._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
<div class="content">
    <div class="title">
    <h2>
        Welcome to CSMSys - Cold Storage Management System!
    </h2>
    </div>
</div>
</asp:Content>
